/*初始样式(原模板)--------------------------------------------------*/
*{
    outline:0!important;
    -webkit-tap-highlight-color:transparent;
}
input{-webkit-appearance:none;}
select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 20px;
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
}
select::-ms-expand { display: none; }
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] 
.form-control {
    background-color: #f5f5f5;
}
ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    cursor:pointer;
}
html,body{
    height:100%;
}
.icon,.iconfont{
    font-size:inherit!important;
}
/*框架样式*/
.wrapper{
    position:relative;
}
/*顶部样式*/
.main-header *,
.nav.navbar-nav.navbar-right>li>a{
    color: #fff;
}
.main-header .navbar{
    min-height:50px;
    border:none;
    border-radius:0;
}
.main-header .navbar-header,
.main-header .navbar-nav>li>a:hover{
    background:rgba(0,0,0,0.07);
}
.main-header .navbar-brand{
    height:50px;
    line-height:30px;
    padding:10px;
    font-size:20px;
}
.main-header .navbar-brand .logo{
    width:200px;
    height:30px;
    display:inline-block;
}
.main-header .navbar-brand .logo-mini{
    width :30px;
    height:30px;
    display:none;
}
.sidebar-collapse .navbar-brand .logo{
    display:none;
}
.sidebar-collapse .navbar-brand .logo-mini{
    display:block;
}
.main-header .navbar-nav>li>a{
    height:50px;
    line-height:30px;
}
.main-header .nav .open>a{
    background:transparent;
}
.main-header .navbar-right{
    margin-right:0;
}
.main-header .avatar{
    width:30px;
    height:30px;
    border-radius:50%;
    vertical-align:top;
}
.navbar-toggle{
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    top:15px;right:15px;
}
.label-pill{
    padding:1px 5px;
}
.label.up{
    border-radius:15px;
    margin-left:-.9em;
    position:relative;
    top:-10px;
}
/*左部样式*/
.main-sidebar{
    width:220px;
    height:100%;
    /*background:#263238;*/
    color:rgba(163,175,183,.9);
    position:fixed;
    top:50px;left:0;
    z-index:1000;
    overflow-y:scroll;
    transition:transform .3s ease-in-out, width .3s ease-in-out;  
}
.main-sidebar .sidebar{
    padding-bottom:100px;
}
.sidebar-menu>li{
    position:relative;
}
.sidebar-menu li.header{
    font-size:12px;
    color:#76838f;
    padding:10px 25px 10px 15px;
}
.sidebar-menu a{
    text-decoration:none;
    color:rgba(163,175,183,.9);
}
.sidebar-menu a>.icon{
    width:20px;
    display:inline-block;
}
.sidebar-menu>li>a{
    display:block;
    padding:12px 5px 12px 15px;
    position:relative;
}
.sidebar-menu>li:hover>a,
.sidebar-menu>li:focus>a,
.sidebar-menu>li.active>a,
.sidebar-menu>li.menu-open>a{
    background:#242f35;
    color:#fff;
}
.sidebar-menu>li{
    border-left:3px solid transparent;
}
.sidebar-menu>li.active{
    border-left-color:#039BE5;
}
.sidebar-menu li>a>.pull-right-container{
    position:absolute;
    top:50%;right:10px;
    margin-top:-9px;
}
.sidebar-menu li>a>.pull-right-container>.icon-angle-left{
    width:auto;
    height:auto;
    margin-right:10px;
    padding:0;
    transition:transform .5s ease;
}
.sidebar-menu .menu-open>a>.pull-right-container>.icon-angle-left::before{
    transform:rotate(-90deg);
}
/*内容部分*/
.content-wrapper{
    height:100%;
    padding:50px 0 0 220px;
    box-sizing:border-box;
}
.tabs-navbar{
    width:100%;
    background:#f5f5f5;
    position:fixed;
    top:50px;left:220px;
    z-index:99;
}
.tab-nav-link>.close{
    line-height:20px!important;
    padding:0 1.5px 0 0;
}
/*折叠部分*/
.sidebar-collapse .main-sidebar{
    width:50px !important;
    z-index:850;
    transform:translate(0,0);
}
.sidebar-collapse .main-sidebar .user-panel>.info,
.sidebar-collapse .sidebar-form,
.sidebar-collapse .tree li>a>span,
.sidebar-collapse .tree li>.list-toggle,
.sidebar-collapse .sidebar-menu li.header{
    display:none!important;
}
.sidebar-collapse .sidebar-menu>li:hover>a>span{
    background-color:inherit;
    padding:12px 5px 12px 20px;
    top:0;
    margin-left:-3px;
}
.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right-container){
    display:block!important;
    width:180px;
    position:absolute;
    left:50px;
    margin-left:-3px;
}
.sidebar-collapse .content-wrapper{
    padding-left:50px;
    transition:all 0.2s ease-in 0s;
}
.sidebar-collapse .tabs-navbar{
    left:50px;
    transition:all 0.2s ease-in 0s;
}
.sidebar-collapse .tree ul{
    display:none!important;
}
/*节点样式*/
.main-sidebar .tree{
    border:none;
    font-size:12px;
}
.main-sidebar .tree *{ 
    color:rgba(163,175,183,.9)!important;
}
.main-sidebar .tree li>ul,
.main-sidebar .tree li.active>a{
    background-color:rgba(0,0,0,.2);
}
.main-sidebar .tree li>a{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    border:none;
}
.main-sidebar .tree li>a.active *,
.main-sidebar .tree li.active>a *,
.main-sidebar .tree li>a:hover  *{ 
    color:#fff!important;
    transition:all 0.2s ease-in 0s;
}
/*媒体查询*/
@media (min-width:767px){
    .sidebar-toggle{
        display:none;
    }
}
@media (max-width:767px){
    .navbar-nav:not(.navbar-right)>li:first-child{
        display:none;
    }
    .navbar-brand{
        text-align:center;
    }
    .main-sidebar{
        transform:translate(-220px, 0);
    }
    .sidebar-open .main-sidebar{
        transform:translate(0, 0);
    }
    .content-wrapper{
        padding-left:0;
    }
    .tabs-navbar{
        left:0;
    }
    .navbar-brand{
        width:100%;
    }
    .sidebar-toggle{
        color:#fff;
        position:absolute !important;
        top:15px;left:15px;
    }
    .main-header .navbar-right{
        margin-right:-10px;
    }
    .page-login  .login-header .logo,
    .main-header .navbar-brand .logo{
        background-position: center!important;
    }
}
/*标志替换*/
.page-login  .login-header .logo,
.main-header .navbar-brand .logo{
    background:url(../img/logo.png) no-repeat;
}
.main-header .navbar-brand .logo-mini{
    background:url(../img/logomini.png) no-repeat;
}
/*伸缩盒子(自定义)--------------------------------------------------*/
.flex-box{ 
    display: block!important;
    display: -moz-box!important; 
    display: -ms-flexbox!important;
    display: -moz-flex!important; 
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: -webkit-box!important; 
    display: flex!important;  
}  
.flex-son{ 
    -moz-box-flex: 1;   
    -webkit-flex: 1;  
    -ms-flex: 1;  
    -webkit-box-flex:1; 
    flex:1;  
    overflow:hidden; 
} 
.flex-one{
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
.flex-two{
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    flex: 2;
}
.flex-three{
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    -webkit-box-flex: 3;
    flex: 3;
}
/*表格棋盘布局*/
.form-checker-board li label{
    width: 100%;
    height: 50px;
    display: block!important;
    display: -moz-box!important; 
    display: -ms-flexbox!important;
    display: -moz-flex!important; 
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: -webkit-box!important; 
    display: flex!important;
    overflow: hidden;
}
.form-checker-board li label>span{
    display: inline-block;
    width:70px;
    line-height:32px;
    float: left;
    font-weight: normal;
    text-align: right;
    margin-right:10px;
    cursor: pointer;
}
.form-checker-board li label>span+*{
    -moz-box-flex: 1;   
    -webkit-flex: 1;  
    -ms-flex: 1;  
    -webkit-box-flex:1; 
    flex:1;  
    overflow:hidden; 
}
/*信息提示*/
.um-tip-mask{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:rgba(0,0,0,.3);
}
.um-tip{
    text-align: center;
    display: inline-block;
    padding: 10px;
    background: #fff;
    min-width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-26px 0 0 -60px;
    border-radius: 3px;
}
/*欢迎文本*/
.welcome-text{
    line-height:500px;
    color:#ccc;
    font-size:4em;
    font-weight:400;
}
/*页面卡片*/
.page-card-title{
    border-color:#039be5;
}
.page-card-group{
    margin-bottom:30px;
}
.page-card-group li{
    padding:0!important;
}
.page-card-group li a{
    display:block;
    width:90%;
    border:2px solid #eee;
    border-radius:5px;
    text-decoration:none;
    margin-bottom:20px;
    padding:20px;
    box-sizing:border-box;
    color:#333;
}
.page-card-group li a b.icon{
    font-size:24px;
    font-weight:bold;
    position:relative;
    top:2px;
}
.page-card-group li a i.icon{
    line-height:27px;
    color:#bbb;
}
.page-card-group li a:hover{
    cursor:pointer;
    background:#f5f5f5;
    transition:all 0.2s ease-in 0s;
}
/*页面样式*/
.page-container{
    margin-top:30px;
}
.page-wrapper{
    padding:0 10px;
}
/*数据表格*/
.datagrid .pager{
    margin:10px 0 0;
}
/*工具条*/
.tool-group{
    padding:10px 0;
}
.tool-group button{
    margin-left:5px;
}
.tool-inline{
    margin-bottom: -7px;
    overflow: hidden;
}
.tool-inline  label,
.tool-inline .im-label{
    display: block;
    float: left;
    padding-right:10px;
}
.tool-inline  label>span,
.tool-inline .im-label>span{
    line-height: 33px;
    padding:0 5px;
    float: left;
    font-weight: normal;
    cursor: pointer;
}
.tool-inline  label input,
.tool-inline  label select,
.tool-inline .im-label input,
.tool-inline .im-label select{
    width: 120px!important;
    float: left;
}
.tool-inline label:first-child{
    font-weight: normal;
}
.tool-inline .im-label:first-child .input-group select{
    width: 80px!important;
    min-width: 80px!important;
}
/*其他样式*/
[data-toggle="modal"],
.tree span{
    cursor: pointer;
}
select{ min-width: 100px!important; }
.input-min-box input{ width: 120px; }
/*单元格隐藏*/
.cell-hidden{
    border:none;
    opacity: 0.5;
}