/*初始样式(原模板)--------------------------------------------------*/
*{
    outline:0!important;
    -webkit-tap-highlight-color:transparent;
}
form{
    margin-bottom: 0!important;
}
select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 20px;
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
}
select::-ms-expand { display: none; }
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] 
.form-control {
    background-color: #f5f5f5;
}
ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
html,body{
    height:100%;
}
.icon,.iconfont{
    font-size:inherit!important;
}
.text-thin, .thin{
    font-weight: normal!important;
}
.bg-grey{
    background: #f5f5f5;
}
/*一行省略*/
.ov1{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/*伸缩盒子*/
.flex-box{ 
    display: block!important;
    display: -moz-box!important; 
    display: -ms-flexbox!important;
    display: -moz-flex!important; 
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: -webkit-box!important; 
    display: flex!important;  
}  
.flex-son{ 
    -moz-box-flex: 1;   
    -webkit-flex: 1;  
    -ms-flex: 1;  
    -webkit-box-flex:1; 
    flex:1;  
    overflow:hidden; 
} 
.flex-son>*,
.flex-one{
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
.flex-two{
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    flex: 2;
}
.flex-three{
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    -webkit-box-flex: 3;
    flex: 3;
}
/*信息提示*/
.um-tip-mask{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:rgba(0,0,0,.3);
}
.um-tip{
    text-align: center;
    display: inline-block;
    padding: 10px;
    background: #fff;
    min-width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-26px 0 0 -60px;
    border-radius: 3px;
}
/*全局样式-表单-------------------------------------------*/
/*表单宽度*/
select{ min-width: 100px!important; }
.input-min-box input{ width: 120px; }
.input-short{ max-width:200px; }
.input-middle{ max-width:358px; }
/*表单label*/
a,
label,
[data-toggle="modal"],
.for-label,
.tree span{
    cursor:pointer;
}
.for-label::selection{
    background:transparent;
}
/*表单元素备注*/
.form-control-static{
    color: #999;
    font-size: smaller;
}
/*表单浮层*/
.form-control-floor{
    display: block;
    height:15px;
    float: none;
}
/*全局样式-其他-------------------------------------------*/
/*圆角设定(按钮+表单元素)*/
.btn,.form-control{
    border-radius: 2px!important;
}
/*树状图-上下居中*/
.tree.tree-lines.tree-chevrons{
    position: relative;
    top: 5px;
}
/* 验证样式更改 */
.formError .formErrorContent{
    background: #fff;
    border:1px solid red!important;
    color: red!important;
    box-shadow:none;
    font-weight: normal!important;
}
.formError .formErrorArrow *{
    display: none!important;
}
.formError .formErrorArrow:after{
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    transform-origin: center center;
    transform: rotate(45deg) scale(1.1);    
}
/*标志替换*/
.page-login  .login-header .logo,
.main-header .navbar-brand .logo{
    background:url(../img/logo.png) no-repeat;
}
.main-header .navbar-brand .logo-mini{
    background:url(../img/logomini.png) no-repeat;
}