/*框架样式*/
.wrapper{
    position:relative;
}
/*顶部样式*/
.main-header *,
.nav.navbar-nav.navbar-right>li>a{
    color: #fff;
}
.main-header .navbar,
.main-header .navbar-nav>li>a,
.main-header .navbar-brand{
    height:70px;
    line-height: 48px;
}
.main-sidebar{
    top:80px;
}
.tabs-navbar{
    top:98px;
}
.content-wrapper{
    height:100%;
    padding:70px 0 0 200px;
    box-sizing:border-box;
}
/*正式样式*/
.main-header .navbar{
    border:none;
    border-radius:0;
}
.main-header .navbar-header,
.main-header .navbar-nav>li>a:hover{
    background:rgba(0,0,0,0.07);
}
.main-header .navbar-brand{
    padding:20px 10px;
    font-size:20px;
    box-sizing:border-box;
}
.main-header .navbar-brand .logo{
    width:180px;
    height:30px;
    display:inline-block;
}
.main-header .navbar-brand .logo-mini{
    width :30px;
    height:30px;
    display:none;
}
.sidebar-collapse .navbar-brand .logo{
    display:none;
}
.sidebar-collapse .navbar-brand .logo-mini{
    display:block;
}
.main-header .nav .open>a{
    background:transparent;
}
.main-header .navbar-right{
    margin-right:0;
}
.main-header .avatar{
    width:30px;
    height:30px;
    border-radius:50%;
    vertical-align:top;
}
.navbar-toggle{
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    top:15px;right:15px;
}
.label-pill{
    padding:1px 5px;
}
.label.up{
    border-radius:15px;
    margin-left:-.9em;
    position:relative;
    top:-10px;
}
.navbar-nav.navbar-right{
    width: 100%;
}
.navbar-nav.navbar-right .lead{
    line-height: 68px;
}
/*左部样式*/
.main-sidebar{
    width:200px;
    height:100%;
    color:rgba(163,175,183,.9);
    position:fixed;
    left:0;
    z-index:1000;
    overflow-y:scroll;
    transition:transform .3s ease-in-out, width .3s ease-in-out;  
}
.main-sidebar .sidebar{
    padding-bottom:100px;
}
.sidebar-menu>li{
    position:relative;
}
.sidebar-menu li.header{
    font-size:12px;
    color:#76838f;
    padding:10px 25px 10px 15px;
}
.sidebar-menu a{
    text-decoration:none;
    color:rgba(163,175,183,.9);
}
.sidebar-menu a>.icon{
    width:20px;
    display:inline-block;
}
.sidebar-menu>li>a{
    display:block;
    padding:12px 5px 12px 15px;
    position:relative;
}
.sidebar-menu>li:hover>a,
.sidebar-menu>li:focus>a,
.sidebar-menu>li.active>a,
.sidebar-menu>li.menu-open>a{
    background:#242f35;
    color:#fff;
}
.sidebar-menu>li{
    border-left:3px solid transparent;
}
.sidebar-menu>li.active{
    border-left-color:#039BE5;
}
.sidebar-menu li>a>.pull-right-container{
    position:absolute;
    top:50%;right:10px;
    margin-top:-9px;
}
.sidebar-menu li>a>.pull-right-container>.icon-angle-left{
    width:auto;
    height:auto;
    margin-right:10px;
    padding:0;
    transition:transform .5s ease;
}
.sidebar-menu .menu-open>a>.pull-right-container>.icon-angle-left::before{
    transform:rotate(-90deg);
}
/*内容部分*/
.content-wrapper{
    height:100%;
    box-sizing:border-box;
}
.tabs-navbar{
    width:100%;
    background:#f5f5f5;
}
.tab-nav-link>.close{
    line-height:20px!important;
    padding:0 1.5px 0 0;
}
/*折叠部分*/
.sidebar-collapse .main-sidebar{
    width:50px !important;
    z-index:850;
    transform:translate(0,0);
}
.sidebar-collapse .main-sidebar .user-panel>.info,
.sidebar-collapse .sidebar-form,
.sidebar-collapse .tree-menu li>a>span,
.sidebar-collapse .tree-menu li>.list-toggle,
.sidebar-collapse .sidebar-menu li.header{
    display:none!important;
}
.sidebar-collapse .sidebar-menu>li:hover>a>span{
    background-color:inherit;
    padding:12px 5px 12px 20px;
    top:0;
    margin-left:-3px;
}
.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right-container){
    display:block!important;
    width:180px;
    position:absolute;
    left:50px;
    margin-left:-3px;
}
.sidebar-collapse .content-wrapper{
    padding-left:50px;
    transition:all 0.2s ease-in 0s;
}
.sidebar-collapse .common-marquee,
.sidebar-collapse .tabs-navbar{
    padding-left: 50px;
    transition:all 0.2s ease-in 0s;
}
.sidebar-collapse .tree-menu ul{
    display:none!important;
}
.sidebar-collapse .modal{
    left: 50px!important;
}
/*节点样式*/
.main-sidebar .tree-menu{
    border:none;
    font-size:12px;
}
.main-sidebar .tree-menu *{ 
    color:rgba(163,175,183,.9)!important;
}
.main-sidebar .tree-menu li>ul,
.main-sidebar .tree-menu li.active>a{
    background-color:rgba(0,0,0,.2);
}
.main-sidebar .tree-menu.tree-menu-menu li .list-toggle{
    position: absolute;
    z-index: -1;
}
.main-sidebar .tree-menu li>a{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    border:none;
}
.main-sidebar .tree-menu li>a.active *,
.main-sidebar .tree-menu li.active>a *,
.main-sidebar .tree-menu li>a:hover  *{ 
    color:#fff!important;
    transition:all 0.2s ease-in 0s;
}
/*媒体查询*/
@media (min-width:767px){
    .sidebar-toggle{
        display:none;
    }
}
@media (max-width:767px){
    .navbar-nav:not(.navbar-right)>li:first-child{
        display:none;
    }
    .navbar-brand{
        text-align:center;
    }
    .main-sidebar{
        transform:translate(-200px, 0);
    }
    .sidebar-open .main-sidebar{
        transform:translate(0, 0);
    }
    .content-wrapper{
        padding-left:0;
    }
    .tabs-navbar{
        left:0;
    }
    .navbar-brand{
        width:100%;
    }
    .sidebar-toggle{
        color:#fff;
        position:absolute !important;
        top:15px;left:15px;
    }
    .main-header .navbar-right{
        margin-right:-10px;
    }
    .page-login  .login-header .logo,
    .main-header .navbar-brand .logo{
        background-position: center!important;
    }
    body .modal{
        left: 0px!important;
    }
}
/*主题样式更改*/
.main-header .navbar{
    background: #8cb9ed;
}
.main-sidebar{
    background: #ebf2f9;
}
.main-sidebar .tree-menu *{
    color: #183152!important;
}
.main-sidebar .tree-menu li>a.active *, .main-sidebar .tree-menu li.active>a *, .main-sidebar .tree-menu li>a:hover *{
    color: #000!important;
}
.main-sidebar .tree-menu li>ul, .main-sidebar .tree-menu li.active>a{
    background: rgba(255,255,255,.6)!important;
}
.tree-menu-menu li>a:active, .tree-menu-menu li>a:focus, .tree-menu-menu li>a:hover{
    background: rgba(255,255,255,0.5)!important;
}
/*公共通知盒子*/
.common-notice-box {
    width:385px;
    background:#fff;
    margin-right: -385px;
    position: fixed;
    right:0px;
    top:70px;
    bottom: 0px;
    z-index: 999;
    overflow-y: scroll;
    box-shadow: 0px 2px 2px rgba(216, 230, 251, 1);
    box-sizing: border-box;
}
.common-notice-box li{
    line-height: 35px;
    border-bottom: 1px solid #ddd;
}
.common-notice-box li P{
    line-height: 25px;
}
/*全局走马灯*/
.common-marquee,
.tabs-navbar{
    position: fixed;
    z-index:40;
    background: #f5f5f5;
    width: 100%;
    padding-left:200px;
    left:0;
    right:0;
    box-sizing: border-box;
}
.common-marquee{
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #ddd;
}
.common-marquee .icon{
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: large!important;
}
.tabs-container{
    top: 60px;
}
/*模态框定位变化*/
.page-wrapper{
    position: relative!important;
}
.modal-backdrop.in{
    opacity: 0!important;
    display: none!important;
}
.modal{
    top:70px!important;
    left: 200px!important;
    bottom:0px!important;
    background: rgba(0,0,0,.2);
}
.modal-dialog.modal-fullscreen{
    border: none;
    top: 0!important;
}