/*样式引入*/
@import url(zui.min.css);
@import url(base.css);
@import url(../fonts/iconfont.css);
/*数据表头：合并单元格*/
.th-line-height{
    line-height: 50px;
}
.th-table{
    width: 100%;
    margin-left: -1px;
    line-height: 20px;
}
.th-table tr:nth-child(2) td{
    border-top:1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px 0;
}
.th-table tr:nth-child(2) td:nth-child(1){
    border-left: 0;
}
/*滚动面板：标题域*/
.modal-scroll blockquote{
    background-color: #F4F8FA;
    border-color: #BCE8F1;
    margin-top:20px;
    padding: 20px;
}
.modal-scroll{
    overflow-y:scroll!important;
    padding-bottom: 100px;
}
/*单图上传*/
.zui-upload-img,
.zui_upload_img{
    max-width: 160px;
    background: #fff;
    padding-bottom: 10px;
}
.zui-upload-img .media-wrapper,
.zui_upload_img .media-wrapper{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.zui-upload-img .media-wrapper img,
.zui_upload_img .media-wrapper img{
    height:auto;
}