/*页面样式*/
.page-container{
    margin-top:30px;
}
.page-wrapper{
    padding:0 10px;
}
/*欢迎文本*/
.welcome-text{
    line-height:500px;
    color:#ccc;
    font-size:4em;
    font-weight:400;
}
/*工具条*/
.tool-group{
    padding:10px 0 0;
    overflow: hidden;
}
.tool-group  label,
.tool-group .im-label{
    display: block;
    float: left;
    padding-right:10px;
}
.tool-group  label>span,
.tool-group .im-label>span{
    line-height: 33px;
    padding:0 5px;
    float: left;
    font-weight: normal;
    cursor: pointer;
}
.tool-group  label input,
.tool-group  label select,
.tool-group .im-label input,
.tool-group .im-label select{
    width: 120px!important;
    float: left;
}
.tool-group label:first-child{
    font-weight: normal;
}
.tool-group .im-label:first-child .input-group select{
    width: 80px!important;
    min-width: 80px!important;
}
.tool-group .tool-deal{
    background: #f1f1f1;
    padding:5px 0 0 5px;
    border:1px solid #ddd;
    border-bottom:0;
}
.tool-group div button{
    margin-left:5px;
}
.tool-group div button:first-child{
    margin-left:0;
}
.im-che{
    margin-right: 5px;
}
.im-che i{
    font-style: normal;
    cursor: default;
    position: relative;
    top: -2px;
}
/*数据表格-----------------------------*/
/*表头合并*/
.th-line-height{
    line-height: 50px;
}
.th-table{
    width: 100%;
    margin-left: -1px;
    line-height: 20px;
}
.th-table tr:nth-child(2) td{
    border-top:1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px 0;
}
.th-table tr:nth-child(2) td:nth-child(1){
    border-left: 0;
}
/*隐藏ID列*/
.cell-hidden{
    border:none;
    opacity: 0.5;
}
/*表格分页*/
.datagrid .pager{
    margin:10px 0 0;
}
.pager .icon{
    line-height: 18px;
}
/*模态框*/
.modal-dialog .modal-body{
    max-height: 400px!important;
    overflow-y:scroll!important;
}
.modal-dialog.modal-fullscreen .modal-body{
    max-height:initial!important;
}
/*模态框-标题域*/
.modal-dialog .modal-body blockquote{
    background-color: #F4F8FA;
    border-color: #BCE8F1;
    margin-top:20px;
    padding: 20px;
}
/*表格棋盘布局*/
.form-checker-board li label{
    width: 100%;
    height: 50px;
    display: block!important;
    display: -moz-box!important; 
    display: -ms-flexbox!important;
    display: -moz-flex!important; 
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: -webkit-box!important; 
    display: flex!important;
    overflow: hidden;
}
.form-checker-board li label>span{
    display: inline-block;
    width:70px;
    line-height:32px;
    float: left;
    font-weight: normal;
    text-align: right;
    margin-right:10px;
    cursor: pointer;
}
.form-checker-board li label>span+*{
    -moz-box-flex: 1;   
    -webkit-flex: 1;  
    -ms-flex: 1;  
    -webkit-box-flex:1; 
    flex:1;  
    overflow:hidden; 
}
/*单图上传*/
.zui-upload-img,
.zui_upload_img{
    max-width: 160px;
    background: #fff;
    padding-bottom: 10px;
}
.zui-upload-img .media-wrapper,
.zui_upload_img .media-wrapper{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.zui-upload-img .media-wrapper img,
.zui_upload_img .media-wrapper img{
    height:auto;
}
/*全局地图*/
.common_map_mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    position: fixed;
    left: 0;top: 0;
    z-index: 9999;
    display: none;
}
#common_map_box{
    padding:20px;
    width:600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px  -300px;
    z-index: 99999;
    background: #fff;
    box-shadow: 0 0 10px #999;
    border-radius:2px;
    box-sizing:border-box;
}
#common_map_box_main{
    width: 100%;
    height: 300px;
    display: block;
    margin: 10px 0;
    border: 1px solid #ddd;
}
#common_map_box_main img{
    max-width:none;
}
.common_map_reset{
    cursor:pointer;
}
/*全局跟踪日志-评论组件*/
.comments-list .comment b{
    color: #000;
}
.common_topic_imgs_wrap{
    position: relative;
}
.common_topic_imgs_wrap 
.common_topic_imgs_box{
    position: absolute;
    width: 200px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:2px;
}
.comments-list-for-answer{
    padding-top: 0!important;
}
.comments-list-for-answer a{
    color: grey;
}
.comment:hover a{
    color: #3280fc;
}
.design-log-prog{
    padding:1px 3px 0;
    position: relative;
    top: -2px;
}
/*权限表格*/
#setup_auth_post_edit_table table td{
    padding: 1px;
}
#setup_auth_post_edit_table table{
    margin: 0px;
}
#setup_auth_post_edit_table table span,
#setup_auth_post_edit_table table strong{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
/*加班规则+假期管理*/
.setup_attendance_overtime_table dl dt,
.setup_attendance_vacation_table dl dt{    
    font-weight: normal;
}
.setup_attendance_overtime_table dl dd,
.setup_attendance_vacation_table dl dd{    
    padding: 10px 0 0 16px;
}
.setup_attendance_overtime_table dl dd .input-group,
.setup_attendance_vacation_table dl dd .input-group{    
    width:300px;
}
.setup_attendance_overtime_table dl dd .small,
.setup_attendance_vacation_table dl dd .small{    
    padding:7px;
}
.setup_attendance_overtime_table tr td,
.setup_attendance_vacation_table tr td{    
    position: relative;
}
.setup_attendance_overtime_table .table-disabled-mask,
.setup_attendance_vacation_table .table-disabled-mask{    
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index:4;
    display:none;
}
/*商务管理-项目进度*/
.bussiness-prog-group{
    margin-bottom:5px;
}
.bussiness-prog-group b{
    font-size: 40px;
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 100%;
    overflow: hidden;
    line-height: 50px;
}
/* 色调 */
.common-marquee, .tabs-navbar   {
    background-color: rgba(234, 244, 255, 1);
}
.tabs-navbar,.alert-primary{
    background-color: rgba(234, 244, 255, 1);
}
.main-header .navbar{
    background-image:linear-gradient(to right,#8ebaeb 20%, #5a97d9 80%,  #1266bf 90%);
}
.page-card-group dt{
    font-weight: normal;
}
.page-card-group dd{
    padding: 10px 0 0;
}
.page-card-group dd a{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding:0 8px;
    box-sizing: border-box;
    border: 1px solid rgba(187, 218, 255, 1);
    box-shadow: none;
    margin:0 20px 20px 0;
    overflow: hidden;
    position: relative;
}
.page-card-group dd a:hover{
    text-decoration: none;
    color:red;
}
.page-card-group .label-dot {
    position: absolute;
    top: 5px;
    right: 5px;
}
/*智能办公-边框*/
.office-border{
    width:100%;
    height: auto;
    padding:20px;
    border:1px solid #ddd;
}
/*审批流程*/
.office-approval{
    width: 200px;
    height: auto;
}
.office-approval dl{
    margin:0 !important;
    width: auto;
    height:60px;
    overflow: hidden;
}
.office-approval dl>*{
    width:50%;
    height: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.office-approval dl dt{
    border-right: 1px solid #ddd;
    text-align: right;
    padding-right: 25px;
}
.office-approval dl dd *{
    display: block;
    padding-left: 25px;
    font-weight: normal;
}
.office-approval dl dd b{
    padding-left:18px;
}
.office-approval dl dd:before{
    content: '●';
    color: #ddd;
    font-size: 34px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left:-11px;
    line-height: 11px;
}
.office-approval .finish *,
.office-approval .finish *:before{
    color: #3280fc!important;
}
.office-approval .finish dt{
    border-right: 1px solid #3280fc;
}
/*详情样式*/
.detail-wrapper table tbody tr:nth-child(1) td:nth-child(1),
.detail-wrapper table tbody tr:nth-child(1) td:nth-child(2){
    width: 280px;
}
.detail-wrapper table *{
    font-size: small;
    font-weight: normal;
    color:#666;
    line-height:22px;
}
.detail-wrapper table b{
    color: #333!important;
    font-weight: normal!important;
    display: inline-block;
    min-width: 70px;
    text-align: justify;
    text-align-last: justify;
}
.detail-wrapper table b:after{
    content: '：';
}
/*模式样式*/
.detail-wrapper table td input,
.detail-wrapper table td select,
.detail-wrapper table td textarea{
    padding:2px!important;
    height: 22px!important;
    border-radius: 0!important;
    max-width: 150px;
    position: relative;
    top: 0px;
    left: -3px;
}
.detail-wrapper table td span+textarea{
    max-width: 710px;
    top: -3px;
}
.detail-wrapper table td em.text-danger{
    font-style: normal;
    color: #ea644a!important;
    margin-left: 5px;
}
.detail-wrapper table .detail-table-title{
    display: block;
    margin-top: 20px;
    font-size: 15px!important;
}
.detail-wrapper table .detail-table-title.detail-table-title-top{
    margin-top: 0;
}
/*模式-显示*/
.detail-wrapper.mode-show table td span{
    display: inline-block;
}
.detail-wrapper.mode-show table td input,
.detail-wrapper.mode-show table td select,
.detail-wrapper.mode-show table td textarea{
    display: none;
}
.detail-wrapper.mode-show .detail_edit_btn{
    display: inline-block;
}
.detail-wrapper.mode-show .detail_save_btn{
    display: none;
}
/*模式-修改*/
.detail-wrapper.mode-edit table td span{
    display: none;
}
.detail-wrapper.mode-edit table td input,
.detail-wrapper.mode-edit table td select,
.detail-wrapper.mode-edit table td textarea{
    display: flex;
}
.detail-wrapper.mode-edit .detail_edit_btn{
    display: none;
}
.detail-wrapper.mode-edit .detail_save_btn{
    display: inline-block;
}
/*模式-强制*/
.detail-wrapper table.mode-show-force td span{
    display: none!important;
}
.detail-wrapper table.mode-show-force td input,
.detail-wrapper table.mode-show-force td select,
.detail-wrapper table.mode-show-force td textarea{
    display: flex!important;
}