/*样式引入*/
@import url(zui.min.css);
@import url(validationEngine.jquery.css);
@import url(base.css);
/*登录页面*/
.page-login{
    background:url(../img/login_bg.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:contain;
    background-size:cover;
    zoom:1;  
}
.page-login .login-header{
    width:100%;
    height:50px;
    background:rgba(0,0,0,.7);
    padding:10px;
    box-sizing:border-box;
    color:#fff;
    font-size:20px;
    position:fixed;
    top:0;left:0;
}
.page-login .login-header .logo{
    width:200px;
    height:30px;
    display:inline-block;
}
.page-login .login-box{
    width:400px;
    height:360px;
    background:rgba(255,255,255,.85);
    position:absolute;
    top:50%;left:50%;
    margin:-180px 80px;
    padding:30px 50px;
}
.page-login .login-box h2{
    display:block;
    margin-bottom:30px;
    text-align:center;
    text-shadow:3px 3px 3px rgba(0,0,255,.2);
    font-size:35px;
    font-weight:400;
}
.page-login .login-box input{
    margin-bottom:20px;
    padding:18px;
}
.page-login .login-box .icon{
    line-height:35px;
}
@media (max-width:1200px){
    .page-login .login-box{
        margin:-180px -200px;
    }
}
@media (max-width:767px){
    .page-login{
        background:#fff;
    }
    .page-login .login-header{
        text-align:center;
        background:#039BE5;
    }
    .page-login .login-box{
        width:100%;
        height:auto;
        top:50px;left:0;
        margin:0;
        padding:1em 1em 3em;
    }
}
/*错误页面*/
.page-error{
    padding:30px;
    color:#76838f;
}
.page-error header h1{
    color:#37474f;
    font-size:10em;
    font-weight:400;
}
.page-error header p{
    margin-bottom:30px;
    font-size:30px;
}
.page-error .btn{
    padding:6px 20px;
}