        <style>
        .table-detail-template b{
            display: inline-block;
            min-width: 90px;
        }
        </style>
                <!-- 页面外套 -->
                <div class="page-wrapper" id="progress_detail">
					<br><button id="btn_deal" type="button"class="btn btn-primary">保存</button><br><br>
                    <!-- 项目进度 -->
                    <table class="table hide" id="progress_detail_show_t_prog">
                        <thead><tr><th>项目进度</th></tr></thead>
                        <tbody></tbody>
                    </table>

                    <!-- 项目信息 -->
                    <table class="table table-detail-template" id="progress_detail_show_t_case">
                        <thead><tr><th colspan="3">项目信息</th></tr></thead>
                        <tbody><!-- JS推进 --></tbody>
                    </table>

                    <!-- 负责人信息 -->
                    <table class="table table-detail-template" id="progress_detail_show_t_user">
                        <thead><tr><th colspan="3">负责人信息</th></tr></thead>
                        <tbody><!-- JS推进 --></tbody>
                    </table>

                    <!-- 切换面板 -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-tab="" href="#progress_detail_show_filelist">业务回访</a></li>
                        <li><a data-tab="" href="#progress_detail_show_record">设计回访</a></li>
                        <li><a data-tab="" href="#progress_detail_show_record2">过程记录</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="datagrid datagrid-striped tab-pane active" id="progress_detail_show_filelist">
                            <!-- 工具条组 -->
                            <!-- <div class="tool-group" style="padding:0;border-top:0">
                                <div class="tool-deal" style="padding:5px;">
                                    <div class="btn-group" data-toggle="buttons" id="progress_detail_show_filelist_type">
                                        <label class="btn btn-mini active"><input type="radio" name="filetype" value="1">商务附件</label>
                                        <label class="btn btn-mini"><input type="radio" name="filetype" value="2">设计附件</label>
                                        <label class="btn btn-mini"><input type="radio" name="filetype" value="3">施工图</label>
                                        <label class="btn btn-mini"><input type="radio" name="filetype" value="4">效果图</label>
                                        <label class="btn btn-mini"><input type="radio" name="filetype" value="5">报价附件</label>
                                        <label class="btn btn-mini"><input type="radio" name="filetype" value="6">合同附件</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div> -->
                            <!-- tool-group -->
                            <div class="datagrid-container"></div>
                            <ul class="pager btn-mini" data-elements="prev,pages,next"></ul>
                        </div>
                        <div class="datagrid datagrid-striped tab-pane" id="progress_detail_show_record">
                            <div class="datagrid-container"></div>
                            <ul class="pager btn-mini" data-elements="prev,pages,next"></ul>
                        </div>
                        <div class="datagrid datagrid-striped tab-pane" id="progress_detail_show_record2">
                            <div class="datagrid-container"></div>
                            <ul class="pager btn-mini" data-elements="prev,pages,next"></ul>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-wrapper -->
<script>
$(function(){
   
    //变量声明-----------------------------------------------------------------------------------------------
    var 
    //查看
    progress_detail_show_t_prog           = $("#progress_detail_show_t_prog"),          //项目进度
    progress_detail_show_t_case           = $("#progress_detail_show_t_case"),          //项目信息
    progress_detail_show_t_user           = $("#progress_detail_show_t_user"),          //负责人信息
    progress_detail_show_filelist         = $("#progress_detail_show_filelist"),        //客户附件
    progress_detail_show_filelist_type    = $("#progress_detail_show_filelist_type"),   //客户附件类型
    progress_detail_show_record           = $("#progress_detail_show_record");          //操作记录
    progress_detail_show_record2          = $("#progress_detail_show_record2");          //操作记录

    //接口对象-----------------------------------------------------------------------------------------------
    if( window.STATE == "local" ){

        //本地接口
        var progress_detail_api = {
            datagrid            : LOCAL + "Test/test_datagrid.json",                //数据表格
            datagrid_filelist   : LOCAL + "Test/Business/customer_filelist.json",   //客户附件表格
            datagrid_record     : LOCAL + "Test/test_datagrid.json",                //操作记录表格       
            modal_show          : LOCAL + "Test/Business/customer_edit.json",       //修改盒子
            topic               : LOCAL + "Test/Business/provider_topic.json",      //日志查看
            select              : LOCAL + "Test/test_select.json",                  //下拉选择
            datagrid            : "http://sast.wentesjj.com/index.php/index/test_datagrid",
            datagrid_filelist   : "http://sast.wentesjj.com/index.php/index/test_datagrid",
            datagrid_record     : "http://sast.wentesjj.com/index.php/index/test_datagrid",
        }

    } else if ( window.STATE == "route" ){}

    //查看表格-客户附件
    progress_detail_show_filelist.datagrid({
        height      : "page",
        // rowDefaultHeight    : 72, 
        sortable    : false,
        cache       : false,
        showRowIndex: true,
        configs     : {
            R0:{className:"text-center"},
            C1:{className:"cell-hidden"},
            C7:{className:"text-center"},
        },
        states      : {
            pager           : {
                page        : 1,
                recPerPage  : 10,
            }
        },
        dataSource : {
            cols   : [
                {name:"id",     label:"ID",         width:49 },
                {name:"name",    label:"回访人",   width:80},
                {name:"text6",    label:"回访内容",       width:240 },
                {name:"datetime",label:"回访时间",     width:140 },
                {name:"datetime",    label:"下次回访时间",   width:140},
            ],
            remote : function(){
                return {
                    url     : progress_detail_api.datagrid_record,
                    type    : "POST",
                    dataType: "json",
                }
            }
        }
    });
    //查看表格-操作记录
    progress_detail_show_record.datagrid({
        height      : "page",
        sortable    : false,
        cache       : false,
        showRowIndex: true,
        configs     : {
            R0:{className:"text-center"},
            C1:{className:"cell-hidden"}
        },
        states      : {
            pager           : {
                page        : 1,
                recPerPage  : 10,
            }
        },
        dataSource : {
            cols   : [
                {name:"id",      label:"ID",    width:49 },
                {name:"name",    label:"回访人",width:80 },
                {name:"text5",  label:"回访内容",  width:240},
                {name:"datetime",    label:"回访时间",  width:140},
                {name:"datetime",    label:"下次回访时间",  width:140},
            ],
            remote : function(){
                return {
                    url     : progress_detail_api.datagrid_record,
                    type    : "POST",
                    dataType: "json",
                }
            }
        }
    });
    //查看表格-操作记录
    progress_detail_show_record2.datagrid({
        height      : "page",
        sortable    : false,
        cache       : false,
        showRowIndex: true,
        configs     : {
            R0:{className:"text-center"},
            C1:{className:"cell-hidden"}
        },
        states      : {
            pager           : {
                page        : 1,
                recPerPage  : 10,
            }
        },
        dataSource : {
            cols   : [
                {name:"id",      label:"ID",    width:49 },
                {name:"name",    label:"操作人",width:80 },
                {name:"datetime",    label:"操作时间",  width:140},
                {name:"text5",    label:"过程说明",  width:140},
            ],
            remote : function(){
                return {
                    url     : progress_detail_api.datagrid_record,
                    type    : "POST",
                    dataType: "json",
                }
            }
        }
    });

    //变量声明-----------------------------------------------------------------------------------------------
    var
    progress_detail_show_filelist_obj = progress_detail_show_filelist.data("zui.datagrid"), //查看表格1
    progress_detail_show_record_obj   = progress_detail_show_record.data("zui.datagrid"),   //查看表格2
    progress_detail_show_record_obj2   = progress_detail_show_record.data("zui.datagrid2");  //查看表格2

    //数据ID
    var data_id  = DETAIL_SOURCE.data_id;

    //远程提交
    $.ajax({
        url     : progress_detail_api.modal_show,
        type    : "post",
        dataType: "json",
        data    : { id:data_id },
        success : function(data){
            if( data.status>0 ){

                //查看模板
                var data = data.data;

                //项目进度
                var temp_prog = `<tr><td><ul class="bussiness-prog-group flex-box">`;
                var temp_prog_state_class = "bg-primary";
                for( var i=0;i<data.prog.length;i++){
                    if( data.prog[i].state==0 ){ temp_prog_state_class = "bg-grey" }
                    temp_prog +=`
                        <li class="flex-son text-center">
                            <b class="${temp_prog_state_class}">${i+1}</b>
                            <div class="small">${data.prog[i].name}</div>
                            <div class="small">${data.prog[i].date}</div>
                        </li>
                    `;
                }
                progress_detail_show_t_prog.find("tbody").html(temp_prog+"</ul></td></tr>");

                //项目信息
                var temp_case = `
                    <tr>
                        <td><b>项目编号：</b>${data.number} </td>
                        <td><b>项目名称：</b>${data.case}   </td>
                        <td><b>项目状态：</b>${data.state}  </td>
                    </tr>
                    <tr>
                        <td><b>申请理由：</b>${data.reason}       </td>
                        <td><b>装修面积：</b>${data.decoarea} ㎡  </td>
                        <td><b>房源状态：</b>${data.statename}    </td>
                    </tr>
                    <tr>
                        <td><b>装修地址：</b>${data.decoaddr}     </td>
                        <td><b>联系人1： </b>${data.user1}        </td>
                        <td><b>手机1：   </b>${data.tel1}         </td>
                    </tr>
                    <tr>
                        <td><b>联系人2： </b>${data.user2}        </td>
                        <td><b>手机2：   </b>${data.tel2}         </td>
                        <td><b>办公地址：</b>${data.addr}         </td>
                    </tr>
                    <tr>
                        <td><b>办公电话：</b>${data.tel0}         </td>
                        <td><b>信息员：  </b>${data.providername} </td>
                        <td><b>房屋类型：</b>${data.housetypename}</td>
                    </tr>
                    <tr>
                        <td><b>装修意向：</b>${data.housetodoname}</td>
                        <td><b>装修服务：</b>${data.houseservname}</td>
                        <td><b>交房日期：</b>${data.housedate1}   </td>
                    </tr>
                    <tr>
                        <td><b>期望完工：</b>${data.housedate2}   </td>
                        <td><b>对手数量：</b>${data.rivalnumb}    </td>
                        <td><b>对手进展：</b>${data.rivalstepname}</td>
                    </tr>
                    <tr>   
                        <td colspan="3"><b>备注：</b>${data.text}   </td>
                    </tr>
                `;
                progress_detail_show_t_case.find("tbody").html(temp_case);

                //负责人信息
                var temp_user = `
                    <tr>
                        <td><b>业务员:       </b>${data.salesman}</td>
                        <td><b>设计师：      </b>${data.designer}</td>
                        <td><b>效果图绘图员：</b>${data.sketcher}</td>
                    </tr>
                    <tr>   
                        <td><b>施工图绘图员：</b>${data.draftsman}   </td>
                        <td><b>预算员：      </b> ${data.budgetor}   </td>
                        <td><b>工程监理：    </b>${data.supervision} </td>
                    </tr>
                    <tr>   
                        <td colspan="3"><b>项目经理：    </b>${data.manager}     </td>
                    </tr>
                `;
                progress_detail_show_t_user.find("tbody").html(temp_user);
                
                //数据表格
                zui_datagrid_render(progress_detail_show_filelist_obj,progress_detail_api.datagrid_filelist+"?id="+data_id+"&type=1");
                zui_datagrid_render(progress_detail_show_record_obj,progress_detail_api.datagrid_record+"?id="+data_id);
                
                progress_detail_show_filelist_type.attr("rowIndex",data_id);      //ID赋值

            } else {
                um_tip(data.message,"1500","text-danger");
            }
        }
    });
    
    //点击关闭
	$("#btn_deal").click(function(){
		COMMON_TABS_OBJ.close($(this).parents(".page-wrapper").attr("id"));
		COMMON_TABS_OBJ.reload(DETAIL_SOURCE.page_id);
	});

});//预加载结尾
</script>